* text=auto eol=lf

*.ps1 text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.docx binary
*.webm binary
*.mp4 binary
*.wmv binary
*.wav binary
*.bin binary
*.dll binary
*.exe binary
